@layer utilities {
    @keyframes example {
        from {background-color: #E5E5E5;}
        to {background-color: yellow;}
    }

    .go {
      animation-name: example;
      animation-duration: 0.3s;
      animation-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
      animation-fill-mode: forwards;
    }
}